
<span class="custom-button__wrapper">
    @if (isLoading) {
      <div class="custom-spinner"></div>
    }
    <span>
      {{ label }}
    </span>
  </span>
  
  <!--exemplos de uso-->
  <!-- <button customButton color="primary">primary</button>
  <button customButton color="danger">danger</button>
  <button customButton color="disabled">grey</button>
  <button customButton color="secondary" [isLoading]="true">danger</button>
  <button customButton [outline]="true" disabled [border]="'primary'">
    outline
  </button>
  <button customButton [outline]="true" [isLoading]="true" [border]="'secondary'">
    palavrão grandão
  </button>
  <button customButton [outline]="true" [border]="'danger'">asdasd</button>
  <button customButton [outline]="true" [border]="'grey'">asdasd</button>
  <button customButton color="secondary" disabled>disabled</button> -->
  