@if (collapsed) {
<div class="body-overlay"></div>
}
<div #sidenavs class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div
    class="container-menu-mobile"
    [ngClass]="collapsed ? 'detail-container-menu-mobile' : ''"
  >
    <button class="container-menu-mobile__btn" (click)="toggleCollapse()">
      <i class="pi pi-bars" style="font-size: 1.5rem"></i>
    </button>
  </div>
  <div
    class="scrollwrap_delayed"
    [ngClass]="{ 'scrollwrap-open': collapsed, scrollwrap: !collapsed }"
  >
    <ul class="sidenav-nav" [ngClass]="!collapsed ? 'sidenav-nav-mobile' : ''">
      @if (collapsed){
      <img [src]="logo" alt="Logo da panvel" />
      } @for (data of navsideData; track data) {

      <li class="sidenav-nav-item">
        @if (data.items && data.items.length > 0) {
        <a
          class="sidenav-nav-link"
          [ngClass]="getActiveClass(data)"
          (click)="handleClick(data)"
        >
          <div class="container-icon-title">
            @if (collapsed) {
            <span class="sidenav-link-text" @fadeInOut>
              {{ data.labelTag }}
            </span>
            }
          </div>
          @if (data.items && collapsed) {
          <i
            class="menu-collapse-icon"
            [class.pi-angle-down]="data.expanded"
            [class.pi-angle-right]="!data.expanded"
          ></i>
          }
        </a>
        } @if (!data.items || (data.items && data.items.length === 0)) {
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="shrinkItems(data)"
        >
          @if (collapsed) {
          <span class="sidenav-link-text" @fadeInOut>
            {{ data.labelTag }}
          </span>
          }
        </a>
        }
      </li>
      } @if (collapsed){
      <div class="container-btn">
        <button (click)="signOut()" icon="pi pi-sign-out"></button>
      </div>

      }
    </ul>
  </div>
</div>
