$primary: #733d29;
$primary-dark-10: darken($primary, 10%);
$primary-dark-20: darken($primary, 20%);
$primary-light-10: lighten($primary, 10%);
$primary-light-20: lighten($primary, 20%);
$primary-light-30: lighten($primary, 30%);
$primary-light-40: lighten($primary, 40%);
$primary-light-50: lighten($primary, 50%);
$primary-light-70: lighten($primary, 70%);

$secondary: #77a690;
$secondary-light-30: lighten($secondary, 30%);
$secondary-light-40: lighten($secondary, 40%);

$font-family: "Poppins";

$tertiary: #261912;

$background: #f2efe9;

$gray-900: grey;
