  @import '../../../../scss/variables.scss';
  @import '../../../../scss/mixins.scss';
  @import '../../../../scss/theme.scss';


  .container-form {
    align-items: center;
    display: flex;
    height:80%;
    justify-content: center;
  }    
  .btn-close {   
        
    color: $white;
    font-weight: $font-weight-bolder;    
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    position:absolute;
    margin-left: 12px;
    transform-origin: top right;
     
    
  }  
  .form {
    width: 60%;
    padding-top: 24px;

    h3 {
      color: $primary;
      border-bottom: 2px dashed $primary;
      font-size: $font-size-large;
      font-weight: $font-weight-bolder;
      padding-bottom: 7px;
    }

    @include medium-web {
      width: 80%;
    }        
    
    .form-group {
      margin-bottom: 25px;
      label {
        color: $primary;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
      }
    }         
    }
    .btn-submit {
      background-color: $primary;
      border: none;
      border-radius: $border-radius;
      color: $white;
      font-weight: $font-weight-bolder;
      height: $height-buttons;
      margin: 35px 0;
      transition: 0.5s;
      width: 100%;
      &:hover {
        background-color: $primary-dark-10;
        transition: 0.5s;
      }
    } 