@import "bootstrap/scss/bootstrap";
@import "./app/scss/theme.scss";
@import "primeicons/primeicons.css";
@import 'ngx-toastr/toastr';

body {
  background-color: $background;
  color: $tertiary;
  font-family: $font-family, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  white-space: wrap;
  width: 100%;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

//scrollbar
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: $background;
}
body::-webkit-scrollbar-thumb {
  background-color: $tertiary;
  border-radius: 20px;
}

//formss

.form-control,
.form-select {
  background-color: $background;
  border-color: $primary;
  &::placeholder {
    color: $primary-light-30;
  }
  &::placeholder {
    color: $tertiary;
  }
}

.form-control:focus,
.form-select:focus {
  background-color: $background;
  border-color: $primary !important;
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !important;
}

.form-select option {
  background-color: $background;
  color: $tertiary;
}

.form-control.is-invalid {
  background-image: none;
}


//dropdown

.btn:hover, 
.btn-check:checked + .btn, 
:not(.btn-check) + .btn:active, 
.btn:first-child:active, 
.btn.active, 
.btn.show  {
  background-color: transparent;
  color: $primary;
}

.dropdown-item {
  align-items: center;
  display: flex;
  color: $primary;
  font-weight: $font-weight-semibold !important;

  i { margin-right: 15px; }

  &:hover {
    background-color: lighten($tertiary, 70%);
    color: $primary;
    font-weight: $font-weight-semibold !important;
  }
}

.dropdown-menu.show {
  background-color: $background;
  border: 1px solid $primary;
}

.dropdown-toggle {
  border: none;
  color: $primary;
  &::after { display: none; }

  &:hover { color: $primary; }
}

.toast-container {
  position: fixed !important;
  top: 7px;
  right: 7px;
}

.toast-message { font-size: 14px; }