@import "bootstrap/scss/bootstrap";
@import "./app/scss/theme.scss";
@import "primeicons/primeicons.css";

body {
  background-color: $background;
  color: $tertiary;
  font-family: $font-family, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  white-space: wrap;
  width: 100%;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

//scrollbar
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: $background;
}
body::-webkit-scrollbar-thumb {
  background-color: $tertiary;
  border-radius: 20px;
}

.form-control,
.form-select {
  background-color: $background;
  border-color: $primary;
  &::placeholder {
    color: $primary-light-30;
  }
  &::placeholder {
    color: $tertiary;
  }
}

.form-control:focus,
.form-select:focus {
  background-color: $background;
  border-color: $primary !important;
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !important;
}

.form-select option {
  background-color: $background;
  color: $tertiary;
}

.form-control.is-invalid {
  background-image: none;
}
