<section class="my-volunteering">
    <header class="my-volunteering__header">
        <h2 class="my-volunteering__header_title">Seus próximos eventos
            <span>Aqui estão centralizados todos os seus próximos eventos como voluntário</span>
        </h2>
    </header>
    
    @for(item of date; track item){
        <div>
            <div>
                <h3>{{item.date_at}}</h3>
            </div>
            <div>
                <h3>{{item.local}}</h3>
                <h3>{{ item.type }}</h3>
            </div>
            <button></button>
            
        </div>

    }@empty{
        Você não se cadastrou em nenhum evento como voluntária ainda ):
    }
    
</section>