<section class="my-volunteering">
    <header class="my-volunteering__header">
        <h2 class="my-volunteering__header_title">Seus próximos eventos
            <span>Aqui estão centralizados todos os seus próximos eventos como voluntário</span>
        </h2>
    </header>
    <div class="container-events">
        @for(event of events; track event){
            <div class="row card-list">
                <div class="col card-list__container">
                    <span>Data</span>
                    <h3></h3>
                </div>
                <div class="col-5 card-list__container">
                    {{event}}
                    <!-- <span>Local</span>
                    <h3>{{event.local}}</h3> -->
                </div>
                <div class="col-3 card-list__container">
                    <!-- <span>Atividade</span>
                    <h3 class="activity" [ngClass]="{ 'bath': item.type === EventTypeEnum.BATH,
                    'transport': event.type === EventTypeEnum.TRANSPORT,
                    'event': event.type ===  EventTypeEnum.EVENT }">
                    {{ event.type }} -->
                <!-- </h3> -->
                </div>
                <div class="col-1 card-list__container">
                    <!-- <span>Ações</span>
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
                            <i class="pi pi-ellipsis-v"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <button ngbDropdownItem (click)="submitEvent(item)">Quero me candidatar</button>
                        </div>
                    </div> -->
                </div>
            </div>
        } @empty {
            Você não se cadastrou em nenhum evento como voluntária ainda:
        }
    </div>
</section>